<template>
  <div
    class="px-5 py-1 white rounded-lg"
    :height="info.height || 'inherit'"
    tile
  >
    <v-row
      align="center"
      class="fill-height h-auto mb-0"
      justify="start"
      no-gutters
    >
      <!-- <v-icon left>{{info.icon}}</v-icon> -->
      <div class="font-weight-bold grey--text text--darken-2 text-body-1">
        {{ info.title }}
      </div>
      <v-spacer />
      <slot
        v-if="hasslot"
        align="center"
        class="font-weight-bold mb-0 purple--text text--darken-1"
        name="select"
      />
      <slot
        v-if="hasslot"
        align="center"
        name="actionbtn"
      />
    </v-row>
    <div class="d-flex">
      <slot name="input" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'HeaderComponent',
  props: {
    info: Object,
    hasslot: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss" scoped>
.header-title {
  font-size: 1.6em;
  line-height: 1;
}
</style>
