<template>
  <div
    class="app-slider-wrapper mb-5 py-4 white"
    :class="'px-0 full-screen'"
  >
    <video
      id="bgvid"
      autoplay
      class="header-background"
      loop
      muted
      playsinline
      poster="@/assets/header-background.png"
      style="height: 100%; width: 100%;"
    >
      <source
        src="@/assets/header-background-video.webm"
        type="video/webm"
      >
    </video>
    <div class="records-search-container">
      <v-text-field
        v-model="searchInput"
        background-color="white"
        class="max-w-content mx-auto pt-0 px-4 py-2 records-search-box text-capitalize"
        dense
        flat
        height="40"
        hide-details
        :label="placeHolder"
        rounded
        single-line
        @keyup="changeEvent"
      />
    </div>
    <div class="d-flex flex-wrap justify-center">
      <template>
        <general-list-drop-down
          v-model="tableView"
          :current-app="appListSorted[selected]"
          @input="validateView"
          @recordsToShow="recordsToShow"
        />
      </template>
    </div>
    <div
      v-if="showApps || (!showApps && !showFiles)"
      class="in-here vertical-scroll"
      style="height: 75vh"
    >
      <div
        v-if="showGrid"
        :class="'app-slider-grid'"
      >
        <div
          v-for="(item, index) in appListSorted"
          :key="index"
          :class="selected > -1 ? (selected === index ? 'carousel-cell selected-item flicky-item' : 'carousel-cell flicky-item unselected-item') : 'carousel-cell flicky-item'"
          @click="changingApps(item, index)"
        >
          <v-hover
            v-slot="{ hover }"
          >
            <div class="item-img-container">
              <div
                ref="itemImgs"
                class="item-img"
                :class="selected > -1 ? (selected === index ? 'item-img img-shadow' : 'item-img') : 'item-img'"
                :style="{backgroundColor: getBGColor(item)}"
              >
                <v-img
                  v-if="item.iconLink && item.iconLink !== ''"
                  alt="m6app_img"
                  class="image-icon"
                  :src="item.iconLink"
                />
                <template v-else-if="item.metadata">
                  <template v-if="item.metadata.appIcon">
                    <v-icon
                      :color="item.metadata.appIcon.iconColor"
                      :size="iconWidth"
                    >
                      {{ item.metadata.appIcon.icon }}
                    </v-icon>
                  </template>
                  <v-icon
                    v-else
                    :size="iconWidth"
                  >
                    mdi-store
                  </v-icon>
                </template>
                <v-icon
                  v-else
                  :size="iconWidth"
                >
                  mdi-store
                </v-icon>
              </div>
              <v-btn
                v-if="item.id && hover"
                class="edit-app-button grey--text"
                icon
                @click="editApp(item)"
              >
                <v-icon>
                  mdi-pencil-outline
                </v-icon>
              </v-btn>
            </div>
          </v-hover>

          <div class="item-text">
            {{ item.text }}
          </div>
        </div>
      </div>
      <slot />
    </div>
  </div>
</template>

<script>
import GeneralListDropDown from '@/components/Apps/GeneralListDropDown'
import Flickity from 'vue-flickity'
import RecordFilter from '@/components/RecordMode/RecordFilter'

export default {
  name: 'RecordListHeader',
  components: {
    Flickity,
    GeneralListDropDown,
    RecordFilter
  },
  props: {
    appList: {
      type: Array,
      default: () => []
    },
    showFilterBtn: {
      type: Boolean,
      default: false
    },
    currentAppID: {
      type: Number,
      default: 0
    },
    showApps: {
      type: Boolean,
      default: true
    },
    showFiles: {
      type: Boolean,
      default: true
    }
  },
  data: () => ({
    viconWidth: 0,
    searchInput: '',
    tableView: {},
    placeHolder: 'Search all Apps & Files',
    flickityOptions: {
      cellAlign: 'left',
      prevNextButtons: true,
      pageDots: false,
      wrapAround: true,
      contain: true,
      percentPosition: true,
      draggable: false
    },
    showGrid: true,
    selected: -1,
    collapseAppPanel: true,
    appListSorted: [],
    appSortAsc: false
  }),
  computed: {
    iconWidth: function () {
      return this.viconWidth
    }
  },
  watch: {
    tableView() {
      this.$emit('tableViewChange', this.tableView)
    },
    selected() {
      this.placeHolder = 'Search all Apps & Files'
    },
    appList() {
      this.sortAppList()
      // console.log('a', this.appList)
    }
  },
  mounted() {
    const _this = this
    this.sortAppList()
    setTimeout(function () {
      if (typeof this.$refs !== 'undefined' && typeof this.$refs.itemImgs !== 'undefined' && this.$refs.itemImgs.length > 0) {
        _this.updateViconWidth(this.$refs.itemImgs[0].offsetWidth)
      } else {
        _this.updateViconWidth(60)
      }
    }, 1000)

    const all_apps_item = this.appList.find((row, index) => row.text === 'All Apps')
    const all_apps_index = this.appList.findIndex((row, index) => row.text === 'All Apps')

    if (typeof all_apps_item !== 'undefined' && all_apps_index !== -1) {
      this.changingApps(all_apps_item, all_apps_index)
    }
  },
  methods: {
    validateView(a) {
      this.showGrid = !(a.key === 'table' || a.key === 'files')
    },
    changeEvent(event) {
      this.$emit('changeEvent', this.searchInput)
    },
    changingApps(item, index) {
      this.appPanelCollapseToggle(true)
      this.selected = index
      this.$emit('changingApps', item)
    },
    getBGColor(item) {
      if (item.metadata) {
        if (item.metadata.appIcon) return item.metadata.appIcon.background
      }
      return item.bgColor
    },
    updateViconWidth(number) {
      this.viconWidth = number
    },
    editApp(appItem) {
      this.$router.push(`/dev/${appItem.id}`)
    },
    appPanelCollapseToggle(status = null) {
      this.collapseAppPanel = status === true ? status : !this.collapseAppPanel
      this.$emit('collapseAppPanelEvent', this.collapseAppPanel)
    },
    clearFilter() {
      this.$emit('clearFilter')
    },
    recordsToShow(data) {
      this.$emit('recordsToShow', data)
    },
    sortAppList(type = 'asc') {
      const _this = this
      if (type === 'asc') {
        this.appSortAsc = true
      } else {
        this.appSortAsc = false
      }

      this.appListSorted = [...this.appList]
      this.appListSorted.sort(function (a, b) {
        if (!_this.appSortAsc) {
          return b.text.localeCompare(a.text)
        } else {
          return a.text.localeCompare(b.text)
        }
      })
    }
  }
}
</script>

<style lang="scss">
.header-background {
  object-fit: cover;
  width: 60vw;
  height: 30vh;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(.7)
}
.header-title {
  font-size: 1.6em;
  line-height: 1;
}
.flicky-item {
  width: calc(20% - 20px);
  height: auto;
  margin-right: 20px;
  text-align: center;
}
.flicky-item{
  &:hover {
    cursor: pointer;
  }

  &.unselected-item {
    &:hover{
      .item-img-container{
        padding-top: 100%;
        width: 100%;
      }

    }
    .item-img-container{
      padding-top: 80%;
      width: 80%;
    }
  }
}
.item-img-container {
  position: relative;
  padding-top: 100%;
  width: 100%;
  transition: .3s;
  margin: auto
}
.item-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-text {
  color: white;
}
.image-icon {
  border-radius: 15px;
  height: 100%;
  width: 100%;
}
.unselected-item {
  opacity: 0.7;
}
.flickity-slider {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
/* no circle */
.flickity-button {
  background: transparent;
}
/* big previous & next buttons */
.flickity-prev-next-button {
  width: 100px;
  height: 100px;
}
/* icon color */
.flickity-button-icon {
  fill: white;
}
/* hide disabled button */
.flickity-button:disabled {
  display: none;
}
.flickity-prev-next-button {
  .flickity-button-icon {
    top: 0;
    width: 50%;
    height: 50%;
    left: 25%;
  }
}
.flickity-prev-next-button:hover {
  background: transparent;
}
.flickity-prev-next-button:hover {
  background: transparent;
}
.flickity-prev-next-button.previous {
  left: -70px;
}
.flickity-prev-next-button.next {
  right: -70px;
}
.custom-field-input-field {
  background-color: white;
  color: grey;
}
.img-shadow {
  box-shadow: 0px 0px 4px 4px #ffffff7a;
}
.edit-app-button {
  color: white !important;
  position: absolute !important;
  right: -10px;
  top: -10px;
  z-index: 99;
}
.records-search-box {
  &.v-text-field{
    margin-top: 0!important;
    padding-bottom: 28px!important;
    margin-left: 10px;
    margin-right: 10px;
    &.v-input--dense:not(.v-text-field--outlined) input {
      padding: 8px 0 8px;
    }
    .v-btn {
      height: 40px;
    }
  }
}
@media(max-width: 599px) {
  .flicky-item {
    width: calc(4 * 100% / 12 - 10px);
    height: auto;
    margin-right: 10px;
    text-align: center;
  }
  .records-search-box {
    &.v-text-field{
      margin-top: 0!important;
      padding-bottom: 6px!important;
      margin-left: 5px;
      margin-right: 5px;
      }
  }
  .records-search-container{
    margin-left:-52px;
    margin-right:-52px;
  }
}
.app-slider-wrapper{
  height: 90vh !important;
  position: relative;
}
.app-slider-wrapper .app-slider--collapse-button{
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(20%, 50%)
}
.app-slider-wrapper .app-slider-grid{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.app-slider-wrapper .app-slider-grid:focus {
  outline: none;
}

.app-slider-grid .flickity-viewport {
  height: fit-content !important;
  width: 100%;

  .flickity-slider {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    transform: none !important;
    align-items: center;

    .flicky-item {
      position: relative !important;
      left: 0 !important;
    }
  }
}

@media only screen and (max-device-width: 600px) {
  .app-slider-wrapper .app-slider--collapse-button{
    transform: translate(8px, 50%)
  }
  .app-slider-wrapper.full-screen .app-slider--collapse-button{
    position: fixed;
    bottom: 90px;
    z-index: 100;
  }
}

.app-slider-wrapper{
  background-image: 'linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) )';
  background-position: 'center center';
  background-size: 'cover';
  margin-bottom: '8px!important';
  position: 'relative';
  overflow: '';
}

.app-slider-wrapper .in-here .item-text{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

</style>
