<template>
  <div class="text-center">
    <v-dialog
      v-model="show"
      persistent
      :width=" $vuetify.breakpoint.smAndDown ? '60vw' : '40vw' "
    >
      <v-card>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col
                  col-xs-12
                  col-md-6
                >
                  <div class="flex-column justify-end">
                    <m6-upload
                      btnButton="purple"
                      @loading="loading = !loading"
                      @response="reponseProfileImg"
                    >
                      <v-icon>mdi-cloud-upload</v-icon>
                    </m6-upload>
                  </div>
                  <div class="flex-center flex-column">
                    <img
                      v-if="$h.dg(user, 'profilePic')"
                      alt="user profile image"
                      class="round-img"
                      :src="$h.dg(user, 'profilePic')"
                    >
                    <v-icon
                      v-else
                      size="10rem"
                    >
                      mdi-account-circle
                    </v-icon>
                  </div>
                </v-col>
                <v-col
                  col-xs-12
                  col-md-6
                >
                  <v-row>
                    <v-text-field
                      v-model="user.firstName"
                      label="First Name"
                      :rules="formRules"
                    />
                  </v-row>
                  <v-row>
                    <v-text-field
                      v-model="user.lastName"
                      label="Last Name"
                      :rules="formRules"
                    />
                  </v-row>
                  <v-row>
                    <v-select
                      v-model="user.department"
                      item-text="label"
                      item-value="value"
                      :items="departments"
                      label="Select Department"
                    />
                  </v-row>
                </v-col>
              </v-row>
              <v-row>
                <v-col
                  col-xs-12
                  col-md-6
                >
                  <v-select
                    v-model="user.role"
                    item-text="label"
                    item-value="value"
                    :items="roles"
                    label="Role"
                  />
                </v-col>
                <v-col
                  col-xs-12
                  col-md-6
                >
                  <v-select
                    v-model="user.application"
                    item-text="label"
                    item-value="value"
                    :items="applications"
                    label="Application"
                  />
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>

        <v-divider />

        <v-card-actions>
          <v-spacer />
          <v-btn
            color="red"
            text
            @click="$emit('close')"
          >
            close
          </v-btn>
          <v-btn
            class="white--text"
            color="green"
            @click="updateUser"
          >
            Update
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <m6-loading :loading="loading" />
  </div>
</template>

<script>
import { mapActions, mapMutations, mapState } from 'vuex'

export default {
  name: 'UserProfileUpdate',
  props: {
    show: {
      default: false,
      type: Boolean
    },
    isCurrentUser: {
      default: false,
      type: Boolean
    }
  },
  data: () => ({
    formRules: [v => !!v || 'Name is required'],
    loading: false,
    user: {},
    roles: [
      { label: 'Company Administrator', value: 'companyAdministrator' },
      { label: 'App Administrator', value: 'appAdministrator' },
      { label: 'Staff', value: 'staff' }
    ],
    applications: [],
    departments: []
  }),
  computed: {
    ...mapState('Auth', {
      currentUser: 'user'
    }),
    ...mapState('UserSettingsControl', {
      userSettingsToShow: 'userToShow'
    })
  },
  watch: {
    show() {
      if (this.isCurrentUser) {
        this.user = { ...this.currentUser }
      } else {
        this.user = { ...this.userSettingsToShow.user }
      }
    }
  },
  async mounted() {
    try {
      const apps = await this.getAppList()
      apps.map(row => {
        this.applications.push({
          label: row['title'],
          value: row['id']
        })
      })
      const departments = await this.initVocabulary()
      departments.map(row => {
        this.departments.push({
          label: row['title'],
          value: row['id']
        })
      })
    } catch (e) {
      this.notifDanger('There was an error while fetching values.')
    }
  },
  methods: {
    ...mapActions('AppBuilder', {
      getAppList: 'getAppList'
    }),
    ...mapActions('Taxonomy', {
      initVocabulary: 'setTaxonomyVocabularies'
    }),
    ...mapMutations('SnackBarNotif', {
      notifDanger: 'notifDanger',
      notifSuccess: 'notifSuccess'
    }),
    ...mapActions('Auth', {
      updateUserData: 'updateUserData'
    }),
    ...mapActions('GSFeed', {
      updUser: 'updateUser'
    }),
    async reponseProfileImg(res) {
      if (res.ok) {
        this.user.profilePic = res.data.link
        try {
          this.loading = true
          await this.updateUserData(this.user)
          this.loading = false
          this.notifSuccess('Updated!')
        } catch (e) {
          this.notifDanger('There was an error while saving the file')
        }
      } else {
        this.notifDanger('There was an error while saving the file')
      }
    },
    validate() {
      return this.$refs.form.validate()
    },
    async updateUser() {
      if (!this.validate()) {
        this.notifDanger('Please fill in all of the fields')
        return
      }
      try {
        this.loading = true
        await this.updateUserData(this.user)
        await this.updUser({
          id: this.user.id,
          name: `${this.user.firstName} ${this.user.lastName}`,
          image: this.user.profilePic
        })
        this.loading = false
        this.notifSuccess('The user was saved')
        this.$emit('close')
      } catch (e) {
        this.loading = false
        this.notifDanger('There was an error while saving the user')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.round-img {
  object-fit: cover;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  margin-bottom: -0.5rem;
}
</style>
