<!-- eslint-disable vue/no-static-inline-styles -->
<template>
  <div
    v-if="!loading"
    class="actionfeed dont-show-scroll h-sidepanel max-w-side pl-4 transparent vertical-scroll w-full"
  >
    <div class="card-custom-shadow d-flex flex-wrap h-auto my-4 pa-0 px-2 relative rounded white">
      <div class="align-center d-flex justify-space-between pl-3 pr-1 w-full">
        <h4 :class=" !lightMode ? 'grey--text text--darken-2 ml-1 text-body-1 font-weight-bold' : 'white--text ml-1 text-body-1 font-weight-bold' ">
          Action Center
        </h4>
        <div class="align-center d-flex mx-0">
          <v-menu
            bottom
            offset-y
            transition="slide-y-transition"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                v-bind="attrs"
                :class="['capitalize font-weight-bold mb-0 pl-1 px-0 text--darken-1 transparent mr-0', {'white--text': lightMode}, {'purple--text': !lightMode} ]"
                elevation="0"
                v-on="on"
              >
                {{ SortTag.value }}
                <v-icon :class=" !lightMode ? 'blue--text text--darken-3' : 'white--text' ">
                  mdi-chevron-down
                </v-icon>
              </v-btn>
            </template>
            <v-list dense>
              <v-list-item
                v-for="(item, i) in sorts"
                :key="i"
              >
                <v-list-item-title
                  class="black--text pointer"
                  @click="item.function"
                >
                  {{ item.text }}
                </v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
          <div class="pl-3 pr-1 py-3">
            <add-action-btn />
          </div>
        </div>
      </div>
      <v-text-field
        ref="searchInput"
        v-model="searchInput"
        class="search-input"
        dense
        flat
        height="40"
        hide-details
        label="What do you want to do?"
        rounded
        single-line
        solo-inverted
      />
      <div class="d-flex justify-space-between pt-1 px-14 w-full">
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              v-bind="attrs"
              icon
              v-on="on"
              @click="setActive('Meetings')"
            >
              <img
                color="green"
                src="@/assets/iconfinder_13_2517202.svg"
                style="width: 20px;"
              >
            </v-btn>
          </template>
          <span class="card-custom-shadow grey lighten-3 pa-1 rounded">Meetings</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              v-bind="attrs"
              icon
              v-on="on"
              @click="setActive('Appointments')"
            >
              <img
                color="green"
                src="@/assets/iconfinder_people-waiting-room-dentist-doctor-airport_3190081.svg"
                style="width: 20px;"
              >
            </v-btn>
          </template>
          <span class="card-custom-shadow grey lighten-3 pa-1 rounded">Appointments</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              v-bind="attrs"
              icon
              v-on="on"
              @click="setActive('Reminders')"
            >
              <img
                color="green"
                src="@/assets/iconfinder_vane-wind-forecast-weather-rooster_3181400.svg"
                style="width: 20px;"
              >
            </v-btn>
          </template>
          <span class="card-custom-shadow grey lighten-3 pa-1 rounded">Reminders</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              v-bind="attrs"
              icon
              v-on="on"
              @click="setActive('Requests')"
            >
              <img
                color="green"
                src="@/assets/iconfinder_YPS__file_document_to_sign_signature_signed_sign_sheet_contract_paper_page_text_229542.svg"
                style="width: 20px;"
              >
            </v-btn>
          </template>
          <span class="card-custom-shadow grey lighten-3 pa-1 rounded">Requests</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              v-bind="attrs"
              icon
              v-on="on"
              @click="setActive('Tasks')"
            >
              <img
                color="green"
                src="@/assets/iconfinder_task-planning-timeline-checklist_2661847.svg"
                style="width: 17px;"
              >
            </v-btn>
          </template>
          <span class="card-custom-shadow grey lighten-3 pa-1 rounded">Tasks</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              v-bind="attrs"
              icon
              v-on="on"
              @click="actionFeedCalendar"
            >
              <v-icon size="22px">
                mdi-calendar-clock
              </v-icon>
            </v-btn>
          </template>
          <span class="card-custom-shadow grey lighten-3 pa-1 rounded">Calendar</span>
        </v-tooltip>
      </div>
      <!-- calendar dialog -->
      <v-dialog
        v-model="actionFeedCalendarModal"
        max-width="600px"
      >
        <action-feed-calendar
          :is-modal="true"
          :search-input="searchInput"
          @cancel="actionFeedCalendarModal = false"
        />
      </v-dialog>
      <v-dialog
        v-model="active"
        max-width="600px"
      >
        <v-card>
          <v-card-title
            class="blue ctm-mb-16 d-flex headline justify-space-between"
          >
            <span class="white--text">{{ label }}</span>
          </v-card-title>
          <v-card-text>
            <v-text-field
              label="Title"
            />
            <v-menu
              v-model="menu"
              :close-on-content-click="false"
              min-width="290px"
              :nudge-right="40"
              offset-y
              transition="scale-transition"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-bind="attrs"
                  label="Date"
                  prepend-icon="mdi-calendar"
                  readonly
                  v-on="on"
                />
              </template>
              <v-date-picker
                @input="menu = false"
              />
            </v-menu>
            <v-text-field
              label="Time"
              prepend-icon="mdi-alarm-plus"
            />
            <v-text-field
              label="Location"
              prepend-icon="mdi-map-marker"
            />
            <v-select
              :items="[
                'Hugo', 'Rene', 'Hector', 'Daniel'
              ]"
              label="Who"
            />
            <v-textarea
              label="Description"
              name="input-7-1"
            />
            <v-checkbox
              color="info"
              label="Add Color Tag"
              value="info"
            />
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn
              class="mt-2"
              color="primary"
              outlined
              width="100px"
              @click="active=false"
            >
              Cancel
            </v-btn>
            <v-btn
              class="mt-2"
              color="success"
              width="100px"
              @click="active=false"
            >
              Create
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>


    <action-feed-item
      v-for="(notification, index) in filteredNotifications.filter((e, i) => i < currentIndex)"
      :key="'notification-'+index"
      :notification="notification"
    />
    <infinite-loading
      :identifier="filteredNotifications"
      infinite-scroll-disabled="busy"
      @infinite="infiniteHandler"
    >
      <div slot="spinner" />
      <div slot="no-more" />
      <div slot="no-results" />
    </infinite-loading>
    <div v-if="filteredNotifications.length === 0">
      No results found
    </div>
  </div>
  <v-container
    v-else
    class="dont-show-scroll h-full px-4 text-center transparent vertical-scroll"
  >
    <v-progress-circular
      color="primary"
      indeterminate
    />
  </v-container>
</template>

<script>
import ActionFeedItem from './ActionFeedItem'
import ActionFeedCalendar from './ActionFeedCalendar'
import { mapActions, mapGetters } from 'vuex'
import AddActionBtn from '../../components/Home/TopNav/AddActionBtn.vue'
export default {
  name: 'ActionFeed',
  components: {
    ActionFeedItem,
    ActionFeedCalendar,
    AddActionBtn
  },
  props: {
    lightMode: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    active: false,
    busy: false,
    menu: false,
    currentIndex: 0,
    loading: true,
    user: {},
    showSearchInput: false,
    searchInput: '',
    label: '',
    showActionBtns: false,
    // action feed data
    notifications: [],
    status: [],
    actionFeedCalendarModal: false
  }),
  computed: {
    ...mapGetters('Auth', { cUser: 'getUser' }),
    ...mapGetters('WorkOrderModule', {
      actFeed: 'getActionFeed',
      filterTag: 'getFilter',
      SortTag: 'getSort'
    }),
    areas() {
      return [
        {
          text: 'Everyone',
          type: 'subtitle',
          function: () => {
            this.setFilterTag({ key: 'everyone', value: 'Everyone' })
            this.workOrder()
          }
        },
        {
          text: 'My company',
          type: 'subtitle',
          function: () => {
            this.setFilterTag({ key: 'company', value: 'My company' })
            this.workOrder()
          }
        },
        {
          text: 'Records',
          type: 'title',
          function: () => {}
        },
        {
          text: 'All Apps',
          type: 'subtitle',
          function: () => {
            this.setFilterTag({ key: 'all_apps', value: 'All Apps' })
            this.workOrder()
          }
        },
        {
          text: 'ITApps',
          type: 'subtitle',
          function: () => {
            this.setFilterTag({ key: 'itapps', value: 'ITApps' })
            this.workOrder()
          }
        },
        {
          text: 'Teams',
          type: 'title',
          function: () => {}
        },
        {
          text: 'All my teams',
          type: 'subtitle',
          function: () => {
            this.setFilterTag({ key: 'all_teams', value: 'All my teams' })
            this.workOrder()
          }
        },
        {
          text: 'IT Team XY',
          type: 'subtitle',
          function: () => {
            this.setFilterTag({ key: 'it_team_xy', value: 'IT Team XY' })
            this.workOrder()
          }
        },
        {
          text: 'CPM Team Z',
          type: 'subtitle',
          function: () => {
            this.setFilterTag({ key: 'cpm_team_z', value: 'CPM Team Z' })
            this.workOrder()
          }
        },
        {
          text: 'Departments',
          type: 'title',
          function: () => {}
        },
        {
          text: 'All my departments',
          type: 'subtitle',
          function: () => {
            this.setFilterTag({
              key: 'all_departments',
              value: 'All my departments'
            })
            this.workOrder()
          }
        },
        {
          text: 'Finances',
          type: 'subtitle',
          function: () => {
            this.setFilterTag({ key: 'finances', value: 'Finances' })
            this.workOrder()
          }
        },
        {
          text: 'Operations',
          type: 'subtitle',
          function: () => {
            this.setFilterTag({ key: 'operations', value: 'Operations' })
            this.workOrder()
          }
        }
      ]
    },
    sorts() {
      return [
        {
          text: 'Today',
          function: () => {
            this.setSortTag({ key: 'created_at', value: 'Today' })
          }
        },
        {
          text: 'All',
          function: () => {
            this.setSortTag({ key: 'all', value: 'All' })
          }
        },
        {
          text: 'Current Week',
          function: () => {
            this.setSortTag({ key: 'current_week', value: 'Current Week' })
          }
        },
        {
          text: 'From',
          function: () => {
            this.setSortTag({ key: 'start_date', value: 'From' })
          }
        },
        {
          text: 'To',
          function: () => {
            this.setSortTag({ key: 'due_date', value: 'To' })
          }
        }
      ]
    },
    filteredNotifications() {
      return this.actFeed.filter(notification => {
        if (typeof notification.post.actor.data === 'object') {
          return notification.post.actor.data.name.toUpperCase().trim().indexOf(this.searchInput.toUpperCase().trim()) !== -1
          || notification.description.toUpperCase().trim().indexOf(this.searchInput.toUpperCase().trim()) !== -1
        }

        return notification.description.toUpperCase().trim().indexOf(this.searchInput.toUpperCase().trim()) !== -1
      })
    }
  },
  watch: {
    cUser: function (val) {
      this.user = val
      this.loading = true
      this.workOrder().then(() => {
        this.loading = false
      })
    },
    actFeed: function () {
      this.currentIndex = 0
    }
  },
  mounted() {
    this.setFilterTag({ key: 'everyone', value: 'Everyone' })
    this.setSortTag({ key: 'created_at', value: 'Today' })
    this.user = this.cUser
    this.select('/wo_status').then(res => {
      this.status = res.data
    })
    this.workOrder().then(() => {
      this.loading = false
    })
  },
  methods: {
    ...mapActions('WorkOrderModule', {
      workOrder: 'setWorkOrder',
      setFilterTag: 'setWorkFilter',
      setSortTag: 'setWorkSort'
    }),
    ...mapActions('ITAppsModule', {
      select: 'get_selects'
    }),
    setActive(label) {
      this.active = true
      this.label = label
    },
    infiniteHandler($state) {
      this.busy = true
      setTimeout(() => {
        if (this.currentIndex < this.filteredNotifications.length) {
          this.currentIndex++
          $state.loaded()
        } else {
          $state.complete()
        }
        this.busy = false
      }, 100)
    },
    actionFeedCalendar() {
      this.actionFeedCalendarModal = true
    }
  }
}
</script>

<style lang="scss">
  .card-content__tag {
    z-index: 0;
    top: 0px;
    right: 0;
    padding: 0 16px;
    height: 34px;
    border-radius: 0px 4px;
  }
  .feed-btns {
    bottom: 0;
    left: 0;
  }
  .action-btns {
    bottom: 0;
    right: 0;
  }
  .message-box {
    border-left: 2px solid grey;
  }
  .v-calendar-daily__scroll-area {
    max-height: 400px;
  }
  .v-event.white--text * {
    color: #fff !important;
  }
</style>
