<template>
  <app-template
    :is-persistent="$route.name === 'record.show'"
    :nav-header="navHeader"
    :props-dialog="showSelf"
    :website="website"
  >
    <div
      slot="navheader"
      class="navheader w-full"
    >
      <v-btn
        class="absolute"
        color="grey darken-1"
        icon
        :style="'left: 0px; top: 13px;'"
        @click="$router.push('/records')"
      >
        <v-icon>
          mdi-arrow-left
        </v-icon>
      </v-btn>
      <div class="d-flex max-w-lg mx-auto w-full">
        <v-col class="d-flex navh relative">
          <div v-if="record.image">
            <v-img
              :alt="record.image"
              class="rounded"
              :src="record.image"
              style="width: 40px; height: 40px;"
            />
          </div>
          <v-icon
            v-else
            size="40"
          >
            mdi-store
          </v-icon>
          <p
            class="mb-1 r-title text-h5"
            :style="`padding: 0 10px; overflow: hidden; text-overflow: ellipsis; color: ${headerTextColor}`"
          >
            {{ record.title }}
          </p>
          <v-menu
            bottom
            :offset-x="false"
            :offset-y="true"
          >
            <template v-slot:activator="{ on, attrs }">
              <span
                v-bind="attrs"
                style="color: #1976d2;"
                v-on="on"
              >
                <v-icon color="#1976d2">
                  mdi-chevron-right
                </v-icon>
                {{ selectedItem }}
              </span>
            </template>
            <v-list>
              <v-list-item
                v-for="(item, index) in tabMenu"
                v-if="currentApp.tabs"
                :key="`${index}-tabmenu`"
                @click="currentTab = index"
              >
                <v-list-item-title>{{ item.title }}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </v-col>
        <v-spacer />
        <v-col class="navh relative">
          <div
            class="absolute align-center d-flex label primary px-2 rounded"
            style="top: 10px;"
          >
            <v-avatar
              size="30"
              style="margin-right: 10px;"
            >
              <img
                v-if="currentApp.iconLink"
                alt="John"
                :src="currentApp.iconLink"
              >
              <v-icon v-else>
                mdi-store
              </v-icon>
            </v-avatar>
            {{ currentApp.title }}
          </div>
        </v-col>
      </div>
      <div
        class="absolute"
        style="right: 10px; top: 13px;"
      >
        <v-menu
          bottom
          left
          :offset-y="true"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              v-bind="attrs"
              dark
              icon
              v-on="on"
            >
              <v-icon color="black">
                mdi-dots-vertical
              </v-icon>
            </v-btn>
          </template>

          <v-list>
            <v-list-item @click="deletingRecord">
              <v-list-item-title>
                <v-icon
                  color="red"
                  size="23"
                >
                  mdi-delete
                </v-icon>
              </v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </div>
    </div>
    <v-card
      slot="header"
      class="d-flex justify-center r-header rounded-0 w-full"
      :color="headerBackgroundColor"
      flat
      :img="getBackground(app)"
    >
      <v-card
        class="align-center d-flex justify-space-between max-w-xl mx-auto relative rounded-0 w-full"
        :class="{'website-container': website, 'pb-4 pt-6': !website}"
        color="transparent"
        flat
      >
        <v-btn
          class="absolute"
          :class="{'mt-14': website}"
          color="grey darken-1"
          icon
          :style="'left: 0px; top: 0px;'"
          @click="$router.push('/records')"
        >
          <v-icon>
            mdi-arrow-left
          </v-icon>
        </v-btn>
        <div
          class="align-center d-flex mx-auto w-full"
          :class="{'max-w-lg': !website, 'px-4': website}"
        >
          <v-col
            class="d-flex relative"
            cols="9"
          >
            <div class="app-img d-flex w-full">
              <div
                @mouseleave="showImageOptionButtons = false"
                @mouseover="showImageOptionButtons = true"
              >
                <v-img
                  v-if="record.image"
                  :alt="record.image"
                  class="rounded"
                  height="116"
                  :src="record.image"
                  width="116"
                />
                <v-icon
                  v-else
                  size="116"
                >
                  mdi-store
                </v-icon>

                <m6-upload
                  v-if="showImageOptionButtons"
                  accepted-file-type="image"
                  btn-button="white"
                  class="absolute align-center d-flex justify-center ml-3 mt-2 myupload primary rounded-circle top-2"
                  @loading="loading = !loading"
                  @response="recordImageRes"
                >
                  <v-icon size="15">
                    mdi-cloud-upload
                  </v-icon>
                </m6-upload>

                <div
                  v-if="showImageOptionButtons"
                  class="absolute deletebtn ml-3 mt-2 rounded-circle"
                >
                  <v-btn
                    color="white"
                    icon
                    small
                    @click="deleteRecordImage"
                  >
                    <v-icon size="16">
                      mdi-delete
                    </v-icon>
                  </v-btn>
                </div>
              </div>
              <div
                class="my-auto w-full"
                :class="{'pl-8': !website, 'pl-2 d-flex': website}"
              >
                <div
                  v-if="!editTitleMode"
                  class="align-center d-flex relative w-fit"
                >
                  <p
                    class="mb-1 r-title text-h5"
                    :style="
                      'padding-right: 15px; overflow: hidden; text-overflow: ellipsis; color: ' +
                        headerTextColor +
                        ';'
                    "
                  >
                    {{ record.title }}
                  </p>
                  <v-btn
                    class="absolute bg-none edittitle pointer"
                    color="blue darken-3"
                    icon
                    small
                    @click="showEditTitleMode"
                  >
                    <v-icon size="25">
                      mdi-pencil
                    </v-icon>
                  </v-btn>
                </div>
                <div
                  v-else
                  class="d-flex"
                >
                  <v-textarea
                    v-model="updatedTitle"
                    auto-grow
                    class="mb-0"
                    label="Edit Title"
                    name="input-7-1"
                    outlined
                    @keyup.enter="editTitle"
                    @keyup.esc="cancelEditTitle"
                  />
                  <div class="d-flex flex-column">
                    <v-btn
                      class="ml-2"
                      color="red"
                      icon
                      @click="cancelEditTitle"
                    >
                      <v-icon size="22">
                        mdi-close
                      </v-icon>
                    </v-btn>
                    <v-btn
                      class="ml-2"
                      color="green accent-3"
                      :disabled="record.title === updatedTitle"
                      icon
                      @click="editTitle"
                    >
                      <v-icon size="22">
                        mdi-check
                      </v-icon>
                    </v-btn>
                  </div>
                </div>
                <p
                  v-if="!website"
                  class="font-weight-light mb-1 text-h7"
                  :style="'color: ' + headerTextColor + ';'"
                >
                  {{ record["record_number"] }}
                </p>
              </div>
              <div v-if="app.fields && app.fields.length > 0">
                <p>{{ app.fields[0].label }}</p>
              </div>
            </div>
          </v-col>
          <v-col
            class="relative"
            :class="{'d-flex': website}"
            cols="3"
          >
            <div
              class="align-center d-flex label primary px-2 rounded"
              :class="{'absolute': !website}"
            >
              <v-img
                v-if="app.iconLink"
                :alt="app.iconLink"
                class="mr-2 rounded-lg"
                height="30"
                :src="app.iconLink"
                style="border-radius: 14px !important;"
                width="30"
              />
              <v-avatar
                v-else
                class="d-inline-block mr-2"
                :color="iconData.background"
                size="30"
              >
                <v-icon
                  :color="iconData.iconColor"
                  size="20"
                >
                  {{ iconData.icon }}
                </v-icon>
              </v-avatar>
              {{ currentApp.title }}
            </div>
            <!-- <v-row
              align="center"
              no-gutters
            >
              <v-spacer />
              <div
                class="align-center d-flex flex-column justify-center"
              >
                <v-img
                  v-if="app.iconLink"
                  :alt="app.iconLink"
                  class="rounded-lg"
                  height="70"
                  :src="app.iconLink"
                  style="border-radius: 14px !important;"
                  width="70"
                />
                <v-avatar
                  v-else
                  class="d-inline-block"
                  :color="iconData.background"
                  size="100"
                >
                  <v-icon
                    :color="iconData.iconColor"
                    size="60"
                  >
                    {{ iconData.icon }}
                  </v-icon>
                </v-avatar>
                <span
                  class="mt-3 text-center"
                  :style="'color: ' + headerTextColor + ';'"
                >{{ app['title'] }}</span>
                <v-btn
                  color="red darken-2"
                  icon
                  small
                  @click="deletingRecord"
                >
                  <v-icon>mdi-delete</v-icon>
                </v-btn>
              </div>
            </v-row> -->
            <div
              v-if="website"
              class="align-center d-flex ml-3"
            >
              <div
                v-if="website"
                class="d-flex"
              >
                <v-tabs
                  v-model="currentTab"
                  active-class="font-weight-black active-tab-company"
                  :hide-slider="true"
                >
                  <v-tab
                    v-for="(tab, i) in $h.dg(app, 'tabs', [])"
                    :key="`tabs-${i}`"
                    class="capitalize"
                  >
                    {{ tab.title }}
                  </v-tab>
                </v-tabs>
              </div>
              <v-btn
                class="ml-10 mr-2"
                depressed
              >
                Log in
              </v-btn>
              <v-btn
                class="ml-2"
                color="primary"
                depressed
              >
                Sign up
              </v-btn>
            </div>
            <div
              v-if="website"
              slot="btns"
              class="align-center d-flex relative"
            >
              <v-menu
                bottom
                class="absolute"
                left
                :offset-y="true"
                :style="'right: 10px; top: 10px;'"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    v-bind="attrs"
                    dark
                    icon
                    v-on="on"
                  >
                    <v-icon color="black">
                      mdi-dots-vertical
                    </v-icon>
                  </v-btn>
                </template>

                <v-list>
                  <v-list-item @click="deletingRecord">
                    <v-list-item-title>Delete Record</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </div>
          </v-col>

          <m6-loading :loading="loading" />

          <m6-confirm-delete
            message="Are you sure you want to delete this record?"
            :show="showDeleteDialog"
            title="Delete Current Record"
            @cancel="cancelDelete"
            @confirm="confirmDelete"
          />
        </div>
      </v-card>
    </v-card>
    <div
      v-if="!website"
      slot="tabs"
      class="d-flex"
    >
      <v-tabs
        v-model="currentTab"
        active-class="font-weight-black active-tab-company"
        :hide-slider="true"
      >
        <v-tab
          v-for="(tab, i) in $h.dg(app, 'tabs', [])"
          :key="`tabs-${i}`"
          class="capitalize"
        >
          {{ tab.title }}
        </v-tab>
      </v-tabs>
    </div>
    <div
      v-if="!website"
      slot="btns"
      class="align-center d-flex relative"
    >
      <v-menu
        bottom
        class="absolute"
        left
        :offset-y="true"
        :style="'right: 10px; top: 10px;'"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            v-bind="attrs"
            dark
            icon
            v-on="on"
          >
            <v-icon color="black">
              mdi-dots-vertical
            </v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item @click="deletingRecord">
            <v-list-item-title>
              <v-icon
                color="red"
                size="23"
              >
                mdi-delete
              </v-icon>
            </v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </div>
    <div
      v-if="navHeader"
      :style="'width:100%; height:120px'"
    />
    <div
      v-for="(tab, i) in $h.dg(app, 'tabs', [])"
      v-show="i === currentTab"
      :key="`tab-item-${i}`"
      slot="content"
      class="w-full"
    >
      <panel-two-columns
        :left-column="tab.full_width ? 12 : 5"
        :right-column="tab.full_width ? 12 : 7"
        :website="true"
      >
        <div slot="leftPanel">
          <v-expansion-panels
            v-model="expansionPanelLeft"
            multiple
          >
            <v-expansion-panel
              v-for="(panel, index) in panelsByColumn( $h.dg( tab, 'panels', []), 0 )"
              :key="`p-l-${index}`"
            >
              <v-expansion-panel-header>
                <h3
                  class="w-full"
                  :class="{'text-center': panel.column === 2, 'text-right': panel.column === 1}"
                >
                  {{ panel.title }}
                </h3>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <form-show-generator
                  :action-record="true"
                  :fields="$h.dg(panel, 'fields', [])"
                  :helper-media-u-r-l="helperMediaURL"
                  :panel="panel"
                  :show-standard-fields="(tab.readOnly && index === 0)"
                />

                <div
                  v-for="(table, indexTable) in $h.dg(panel, 'tables', [])"
                  :key="`panel-table-${indexTable}`"
                >
                  <generated-table
                    edit-mode
                    :record-i-d="Number($route.params.id)"
                    :table="table"
                  />
                </div>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </div>

        <div
          v-if="!tab.full_width"
          slot="rightPanel"
        >
          <div
            v-if="currentTab === 0"
            class="main-content px-0"
          >
            <project-social-media
              class="px-0"
              :external="true"
            />
          </div>
          <div v-else>
            <div
              v-for="(panel, index) in panelsByColumn(
                $h.dg(tab, 'panels', []),
                1
              )"
              :key="`p-l-${index}`"
              class="mb-3 panel px-4 py-3 white"
            >
              <h3>{{ panel.title }}</h3>

              <form-show-generator
                :action-record="true"
                :fields="$h.dg(panel, 'fields', [])"
                :panel="panel"
              />
            </div>
          </div>
        </div>
      </panel-two-columns>
    </div>
  </app-template>
</template>

<script>
import AppTemplate from '@/views/Home/AppTemplate'
import ProjectSocialMedia from './ProjectSocialMedia'
import PanelTwoColumns from '@/components/AppBuilder/Content/PanelTwoColumns'
import { mapState, mapMutations, mapActions } from 'vuex'
import FormShowGenerator from '@/components/AppBuilder/Form/FormShowGenerator.vue'
import DeleteDialog from '@/components/Dialogs/DeleteDialog'
import GeneratedTable from '@/components/AppBuilder/GenericTable/GeneratedTable'

export default {
  name: 'AppBuilderShow',
  components: {
    AppTemplate,
    ProjectSocialMedia,
    PanelTwoColumns,
    FormShowGenerator,
    DeleteDialog,
    GeneratedTable
  },
  data: () => ({
    tabs: [],
    currentTab: 0,
    editTitleMode: false,
    updatedTitle: '',
    loading: false,
    currentApp: {},
    showDeleteDialog: false,
    headerBackgroundColor: '#fff',
    headerTextColor: '#aaa',
    helperMediaURL: '',
    tabItems: ['Home', 'People', 'Finance', 'Files'],
    selectedItem: 'Home',
    isDelVerClicked: false,
    scrollTop: 0,
    navHeader: false,
    expansionPanelLeft: [0, 1, 2, 3, 4, 5]
  }),
  computed: {
    ...mapState('Companies', {
      currentCompany: 'currentCompany'
    }),

    ...mapState('RecordsInstance', {
      record: 'currentRecord',
      showSelf: 'displayAppBuilderShow'
    }),

    ...mapState('AppBuilder', {
      app: 'app',
      iconData: 'iconData'
    }),

    panelsByColumn() {
      return (panels, column) => panels.filter(p => p.column === column)
    },
    tabMenu() {
      if (!this.currentApp.tabs) return []
      return this.currentApp.tabs.filter((row, index) => index !== this.currentTab)
    },
    website() {
      if (this.currentApp['layout_type'] !== undefined) {
        if (this.currentApp['layout_type'].toLowerCase() === 'website') {
          return true
        }
      }
      return false
    }
  },
  watch: {
    record: {
      handler: async function (val) {
        await this.$store.dispatch('GSFeed/setRoom', 'AppBuilder')
        await this.$store.dispatch(
          'GSFeed/setBuilderFeed',
          val.record_number.replace('#', '_')
        )
        await this.$store.dispatch('GSFeed/cleanFeed')
        await this.$store.dispatch('GSFeed/retrieveFeed')
      },
      immediate: true
    }
  },
  async mounted() {
    const record = await this.getRecordById(this.$route.params.id)
    this.$store
      .dispatch('AppBuilder/getApp', record.app_id)
      .then(res => {
        this.currentApp = res
        if (res.helperMedia && res.helperMedia.length > 0) {
          this.helperMediaURL = res.helperMedia[0].helper_media
            ? res.helperMedia[0].helper_media
            : ''
        }
        if (res.metadata) {
          this.currentApp.metadata = JSON.parse(res.metadata)
          this.headerBackgroundColor = this.currentApp.metadata.appHeader
            ? this.currentApp.metadata.appHeader.headerBackgroundColor
            : '#fff'
          // this.headerTextColor = this.currentApp.metadata.appHeader ? this.currentApp.metadata.appHeader.headerTextColor : '#606060'
          this.headerTextColor = '#606060'
        } else {
          this.headerBackgroundColor = '#fff'
          this.headerTextColor = '#606060'
        }
      })
    window.addEventListener('scroll', this.watchScroll)
  },
  methods: {
    ...mapActions('AppBuilder', {
      getApp: 'getApp',
      updateRecord: 'updateRecord',
      deleteRecord: 'deleteRecord'
    }),
    ...mapMutations('RecordsInstance', {
      displayAppBuilderShow: 'displayAppBuilderShow'
    }),
    ...mapActions('RecordsInstance', {
      getRecordById: 'getRecordById'
    }),
    ...mapMutations('SnackBarNotif', {
      notifDanger: 'notifDanger',
      notifSuccess: 'notifSuccess'
    }),
    ...mapActions('AppBuilder', {
      updateRecord: 'updateRecord'
    }),
    ...mapActions('File', {
      deleteFileFromS3: 'deleteFileFromS3'
    }),
    deletingRecord() {
      this.showDeleteDialog = true
    },
    toggleIsDelVerClicked() {
      this.isDelVerClicked = !this.isDelVerClicked
    },
    watchScroll() {
      const scrollT = window.scrollY
      if (scrollT > 0) {
        this.navHeader = true
      } else {
        this.navHeader = false
      }
    },
    async deleteRecordImage() {
      try {
        this.loading = true
        if (this.$h.dg(this.record, 'image', '').length) {
          const splitLink = this.record.image.split('com')
          const key = splitLink[1].substr(1)

          await this.deleteFileFromS3({ key })
          this.record.image = ''
          await this.updateRecord(this.record)
        }

        this.loading = false
        this.notifSuccess('The image was deleted')
      } catch (e) {
        this.notifDanger('There was an error while deleting App Icon Image')
        this.loading = false
      }
    },
    async confirmDelete() {
      this.showDeleteDialog = false

      try {
        this.loading = true
        await this.deleteRecord(this.record.id)
        this.notifSuccess('The record was deleted')
        this.$router.push('/')
        this.loading = false
      } catch (e) {
        this.loading = false
        this.notifDanger('There was an error while deleting the Record')
      }
    },
    cancelDelete() {
      this.showDeleteDialog = false
    },
    async recordImageRes(res) {
      if (res.ok) {
        this.record.image = res.data.link
        try {
          this.loading = true
          await this.updateRecord(this.record)
          this.loading = false
          this.notifSuccess('Record Updated!')
        } catch (e) {
          this.loading = false
          this.notifDanger('There was an error while saving the file')
        }
      } else {
        this.notifDanger('There was an error while saving the file')
      }
    },
    showEditTitleMode() {
      this.updatedTitle = this.record.title
      this.editTitleMode = true
    },
    cancelEditTitle() {
      this.editTitleMode = false
    },
    async editTitle() {
      this.record.title = this.updatedTitle
      await this.updateRecord(this.record)
      this.editTitleMode = false
    },
    getBackground() {
      if (this.$h.dg(this.app, 'metadata', false)) {
        if (typeof this.app.metadata === 'string') {
          const metadata = JSON.parse(this.app.metadata)
          return metadata.background
        } else {
          const metadata = this.app.metadata
          return metadata.background
        }
      }
      return ''
    }
  }

}
</script>

<style lang="scss" scoped>
.website-container {
  height: 50px;
}
.flex-row {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
}
.r-header {
  max-height: 144px;
}
.pointer {
  display: none;
}
.r-title {
  font-weight: 600 !important;
  font-family: Raleway !important;
}
.r-title:hover + .pointer,
.pointer:hover {
  display: block;
}
.edittitle {
  background-color: rgb(170, 170, 170);
  right: -25px;
}
.deletebtn {
  background-color: red;
  top: 50px;
  position: absolute;
  left: -25px;
}
.myupload {
  width: 30px;
  height: 30px;
}
.label {
  color: white;
  max-width: 194px;
  height: 40px;
  top: 0px;
  right: 0px;
}
.v-tab--active {
  color: var(--v-primary-base) !important;
}
.delrecord {
  height: 48px;
  width: 144px;
  top: 40px;
  border: solid 2px black;
  z-index: 100;
}
.del-rec-btn {
  height: 100% !important;
}
.navheader {
  position: fixed;
  height: 60px;
  z-index: 1;
  background-color: white;
  box-shadow: 1px 2px 3px 3px #00000026;
}
.dropmenu {
  min-height: 40px;
  width: 150px;
  color: var(--v-primary-base) !important;
  margin-left: 20px;
}
.navh {
  align-items: center;
}
.selectedMenu {
  color: blue;
  padding-left: 5px;
  width: 100px;
  background-color: rgb(230, 230, 230);
  height: 45px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.menuItems {
  position: absolute;
  top: 40px;
  list-style: none;
  background-color: white;
  padding-left: 0px;
  width: 100px;
  line-height: 2.5;
  box-shadow: 0px 0px 6px 1px;
  overflow-y: hidden;
  cursor: pointer;
  height: 0px;
  transition: 0.2s;
}
.menuItems:hover {
  display: block;
  height: 160px;
}
.menuItem {
  padding-left: 10px;
}
.menuItem:hover {
  background-color: #eee;
}
.selectedMenu:hover + .menuItems {
  height: 160px;
}
.app-img {
  position: relative;
}
.myupload {
  position: absolute;
  left: -25px;
  top: 5px;
}
.bg-none {
  background: none;
}
.deletebtn-website {
  margin-left: -13px;
}
</style>
