/* eslint-disable vue/no-unused-vars */
<template>
  <div class="d-flex fixed justify-center nav-bar px-4 top-0 w-full">
    <v-btn
      v-show="!chatOverlay"
      class="blue ml-auto pa-6 white--text"
      :class="{
        'd-none': $vuetify.breakpoint.smAndUp,
        'v-overlay--active': !chatOverlay,
      }"
      color="white"
      depressed
      fixed
      icon
      right
      rounded
      style="margin-top: -10px;"
      top
      @click="chatOverlay = true"
    >
      <v-icon>mdi-message</v-icon>
    </v-btn>
    <v-overlay
      class="record-overlay"
      opacity="0.7"
      :value="chatOverlay"
    >
      <v-row
        class="central-content flex flex-nowrap justify-space-between mx-auto relative top-6 transparent0 w-full"
        no-gutters
      >
        <div class="relative w-full">
          <v-btn
            absolute
            class="blue--text ml-auto pa-6 white"
            color="white"
            depressed
            icon
            right
            rounded
            style="margin-top: -54px;"
            @click="chatOverlay = false"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <m6-chat
            class="ml-auto"
            :light-mode="true"
            @click.native="chatOverlay = false"
          />
        </div>
      </v-row>
    </v-overlay>
    <div class="align-center d-flex justify-space-between nav-content w-full">
      <div class="align-center d-flex w-side">
        <img
          alt="M6"
          height="36px"
          src="@/assets/m6-home-logo.png"
        >
      </div>
      <v-tabs
        v-if="$vuetify.breakpoint.mdAndUp"
        active-class="blue-darken"
        background-color="transparent"
        class="align-center d-flex justify-center mx-auto w-fit"
        color="white"
        height="60"
        :hide-slider="true"
        :value="3"
      >
        <v-tab
          v-for="(link, i) in quickAccessLinks"
          :key="'link' + i"
          class="mb-0 px-13"
          :to="link.url"
        >
          <apps-btn-drop-down
            v-if="link.text === 'apps'"
            :icon="link.icon"
          />
          <v-icon
            v-else
            color="white"
            size="30"
          >
            mdi-{{ link.icon }}
          </v-icon>
        </v-tab>
      </v-tabs>
      <div class="align-center d-flex justify-end w-side">
        <add-action-btn />
        <user-options />
        <span class="font-weight-bold white--text">
          {{ $h.dg(currentUser, 'firstName', '') }}
          {{ $h.dg(currentUser, 'lastName', '') }}
        </span>

        <!--        <company-home />-->
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import UserOptions from '@/components/Home/TopNav/UserOptions'
import AddActionBtn from '@/components/Home/TopNav/AddActionBtn'
import AppsBtnDropDown from '@/components/Home/TopNav/AppsBtnDropDown'
import M6Chat from '@/components/Home/M6Chat'
export default {
  name: 'TopNav',
  components: {
    UserOptions,
    AddActionBtn,
    AppsBtnDropDown,
    M6Chat
  },
  data: () => ({
    user: {
      name: 'John Doe',
      imgSrc: 'https://cdn.vuetifyjs.com/images/john.jpg'
    },
    dialog: false,
    modal: '',
    company: {
      name: 'Sharp Healthcare'
    },
    quickAccessLinks: [
      { url: '/', icon: 'home' },
      { url: '/companies', icon: 'office-building' },
      { url: '/records', icon: 'view-comfy', text: 'apps' },
      { url: '/store', icon: 'storefront' },
      { url: '/user/settings', icon: 'cog' }
    ],
    chatOverlay: false
  }),
  computed: {
    ...mapState('Auth', {
      currentUser: 'user'
    }),
    ...mapState('Companies', {
      currentCompany: 'currentCompany'
    }),
    showLinksMessage: function () {
      return this.showLinks ? 'Less' : 'More'
    },
    heightShowLinksDiv: function () {
      return (7 * 35) + 'px'
    }
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
.nav-bar {
  z-index: 100;
  background-color: #303fe1;
}
.nav-content {
  height: 60px;
  max-width: 1872px;
}

.nav-bar {
  & > button {
    top: calc(100vh - 100px) !important;
  }
}
.blue-darken {
  background-color: #0247FE;
}
</style>
