<template>
  <v-card 
    class="elevation-0 rounded-false"
    :loading="loading"
  >
    <template v-slot:progress>
      <v-progress-linear
        color="deep-purple"
        height="10"
        indeterminate
      ></v-progress-linear>
    </template>
    <div
      class="d-flex justify-center"
      style="height: 50px; background-color: #2a62ff; margin-bottom: 50px"
    >
      <v-avatar
        class="align-self-center grey lighten-2 mr-2 text-center"
        style="position: absolute"
        size="80"
        @mouseenter="isProfilePicHover = true"
        @mouseleave="isProfilePicHover = false"
      >
        <v-overlay
          absolute
          opacity="0.7"
          :value="isProfilePicHover"
        >
          <m6-upload
            btn-button="purple"
            @loading="loading = !loading"
            @response="reponseProfileImg"
          >
            <v-icon
              color="white"
              size="50"
            >
              mdi-pencil
            </v-icon>
          </m6-upload>
        </v-overlay>
        <img
          v-if="channelImage !== ''"
          :alt="channelImage"
          :src="channelImage"
        >
        <v-icon
          v-else
          size="50"
        >
          mdi-account-group-outline
        </v-icon>
      </v-avatar>
    </div>
    <v-card-text>
      <v-form ref="form">
        <v-text-field
          v-model="channelName"
          class="custom mt-0 text-center text-h4"
          placeholder="Chat Group Name"
          :readonly="!editMode"
          @click="editMode = true"
          @blur="updateChannel(true)"
        />
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapMutations } from 'vuex'
import DeleteDialog from '@/components/Dialogs/DeleteDialog'
export default {
  name: 'SettingsChannelDialog',
  components: {
    DeleteDialog
  },
  props: {
    channel: {
      type: Object,
      default: () => {}
    },
    cuser: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    itemToDelete: '',
    isProfilePicHover: false,
    boolDeleteDiaLog: false,
    editMode: false,
    channelName: '',
    channelImage: '',
    loading: false
  }),
  methods: {
    ...mapMutations('SnackBarNotif',
      { notifDanger: 'notifDanger' }
    ),
    deleteMessages() {
      this.itemToDelete = `'${this.channel.data.name}' group chat messages.`
      this.boolDeleteDiaLog = true
    },
    deleteGroup() {
      this.channel.delete().then(() => {
        this.updateChannel(false)
      }).catch(() => {
        this.notifDanger('There was an error since deleting.')
      })
      this.boolDeleteDiaLog = false
    },
    async updateChannel(res) {
      if (this.channelName === "") {
        this.notifDanger('Channel Name is required.')
        return
      }
      if (!this.channel.state) {
        if (res) {
          this.$emit('createGroupChat', {
            name: this.channelName,
            image: this.channelImage,
            users: [this.cuser]
          })
          this.editMode = false
        }
        return
      }
      if (res) {
        const res = await this.channel.update({
          name: this.channelName,
          image: this.channelImage
        })
        this.editMode = false
      } else {
        this.editMode = true
      }
    },
    reponseProfileImg(res) {
      if (res.ok) {
        this.channelImage = res.data.link
      } else {
        this.notifDanger('There was an error while saving the file')
      }
    }
  },
  mounted() {
    if (this.channel.data) {
      this.channelName = this.channel.data.name
      this.channelImage = this.channel.data.image
    }
  }
}
</script>

<style>
  .v-input.custom input {
    text-align: center;
  }
  header.v-toolbar, .v-toolbar__content {
    border-radius: 0 !important
  }
</style>
