<template>
  <v-menu
    offset-y
    open-on-hover
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        v-bind="attrs"
        class="mb-1 mx-auto text-capitalize"
        color="white"
        text
        v-on="on"
      >
        {{ currentChoice }}
        <v-icon>mdi-chevron-down</v-icon>
      </v-btn>
    </template>
    <v-list>
      <v-list-item
        v-for="(choice, index) in choices"
        :key="index"
      >
        <v-list-item-title>
          <v-btn
            text
            @click="pickingView(choice)"
          >
            <v-icon class="black--text">
              {{ choice.icon }}
            </v-icon> {{ choice.text }}
          </v-btn>
        </v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>


<script>
import { mapActions, mapMutations, mapState } from 'vuex'

export default {
  name: 'GeneralListDropDown',
  props: {
    currentApp: {
      type: Object,
      default: () => ({})
    }
  },
  data: () => ({
    currentAppFields: [],
    currentChoice: 'Apps & Files View',
    choicesBase: [
      { icon: 'mdi-table', text: 'Table View', key: 'table' },
      {
        icon: 'mdi-arrange-bring-forward',
        text: 'Apps & Files View',
        key: 'card'
      },
      {
        icon: 'mdi-text-box-outline',
        text: 'Files View',
        key: 'files'
      }
    ],
    fieldsList: []
  }),
  computed: {
    choices() {
      const choices = [...this.choicesBase]
      if (this.$h.dg(this.currentApp, 'prefix', '') === 'RAP') {
        choices.push({
          icon: 'mdi-view-parallel',
          text: 'Kanban View',
          key: 'kanban'
        })
      }

      return choices
    }
  },
  watch: {
    async currentAppID(val) {
      if (!val) return
      try {
        this.currentAppFields = await this.getAppFields(val)
        if (this.$h.dg(this.filterSettings, 'currentAppID', -1) !== val) this.fieldsList = []
      } catch (e) {
        this.notifDanger('There was an error while loading app fields')
      }
    },
    filterSettings: {
      handler: function (val) {
        const list = this.$h.dg(val, 'idsAndFieldsList.fieldsList', [])
        this.fieldsList = [...list]
      },
      immediate: true
    }
  },
  methods: {
    pickingView(choice) {
      this.currentChoice = choice.text
      this.$emit('input', choice)
    }
  }
}
</script>
